@import "../variables", "../_mixins/rem";

.badge_size_xs {
  line-height: rem(12);
  min-height: rem(12);
  padding-left: rem(5);
  padding-right: rem(5);
  min-width: rem(12);
  font-size: calc(var(--font-size-smaller) / 1.8);
  vertical-align: top;
}
