@import "../variables", "../_mixins/rem";

.badge {
	font-size: var(--font-size-smaller);
	color: var(--color-white);
	line-height: rem(20);
	min-height: rem(20);
	display: inline-block;
	padding-left: rem(8);
	padding-right: rem(8);
	min-width: rem(20);
	box-sizing: border-box;
	vertical-align: middle;

	@at-root [disabled] & {
		background-color: var(--color-disabled-text);
	}
}
