.detail__btn-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-black-border);
  margin-bottom: 1rem;
  flex-basis: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
