.detail__list {
  margin: 1.5rem 0 0;
  list-style: none;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 0.5rem;
  }

  li:nth-of-type(2n + 1) {
    flex-basis: 120px;
  }

  li:nth-of-type(2n + 2) {
    flex-basis: calc(100% - 120px);
  }
}
