.account__nav_theme_full {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	border: 1px solid var(--color-black-border);
	border-bottom: none;

	> .btn {
		flex-grow: 1;
	}
}
